
.btn{
  max-width: fit-content;
  display: flex;
  place-items: center;
  gap: 0.5em;
  background-color: hsl($accent--light);
  color: hsl($bg--light);
  text-decoration: none;
  padding: 0.4em 1.4em;
  border-radius:$_radius;
  // box-shadow: 0.05em 0.1em 0.9em  hsl($accent--light),
  //   0 0 0 -0.1em hsl($bg--light), 0 0 0 -0.2em hsl($accent--light);
transition:transform  $_tspeed_fast $_ttype_squish,
           background-color  $_tspeed_fast $_ttype_squish;
&:where(svg, img, span) {
  pointer-events: none;
}
&:is(:active, :hover) {
  background-color:hsl($accent--light-hover) ;
  box-shadow:0 0 0 0.2rem hsl($bkg),
   0 0 0 0.3em hsl($accent--light)
   ;
}
&:focus {
  outline: none;
}
&:focus-visible {
box-shadow: 0 0 0 0.2em hsl($bg--light),
    0 0 0 0.3em hsl($accent--light);
}
&:disabled{
background-color:hsl( $accent--light-disable);
box-shadow:none;
}
&.btn-black{
background-color: hsl($bg--dark);
@include easeOut-fast;
&:is(:hover){
 color:hsl($bg--dark);
 border: 0.1em solid hsl($bg--dark);
 background-color:hsl($bkg); 
font-weight: bold;  
box-shadow: 0 0 0 0.2em hsl($bkg),
    0 0 0 0.3em hsl($bg--dark);
}
&:is(:active){
transform: translateY(0.2em);
@include squish-fast;
}
}
&.btn-action{
font-size:$fs-320;
padding:0.1em 0.4em;
color:hsl($txt--dark);
background-color:hsl($bkg);
font-weight:500;
letter-spacing:0.07em;
 border-radius:$_radius;
 border:0.1em solid ;
&:active{
@include squish-fast;
transform: translateY(0.2em); 
}
}
&.btn-regestration{
padding:0.7em 2.8em;
font-size:$fs-400;
color:hsl($grayLight-1);
background-color: transparent;
box-shadow: 0.05em 0.1em 0.9em  hsl($grayLight-1),
0 0 0 -0.1em hsl($bg--light), 0 0 0 -0.2em hsl($accent--light);
&:hover{
 @include insetShadow;
  }
&:active{
@include easeOut;
transform: translateY(0.2em);
}
}
&.btn-warning{
font-size:$fs-200;
background-color: hsl($warning);
color:hsl($bkg);
border:2px solid hsl($bkg);
border-radius:$_radius*2;
&:is(:active, :hover){
 box-shadow:0 0 0 0.2rem hsl($bkg),
    0 0 0 0.4em hsl($warning);
}
}
&.btn-delete-product{
font-size:$fs-200;
padding:0.3em 0.6em;
background-color: hsl($warning);
color:hsl($bkg);
border:0.2em solid hsl($bkg);
border-radius:$_radius*2;
&:is(:active, :hover){
 box-shadow:0 0 0 0.1rem hsl($bkg),
    0 0 0 0.2em hsl($warning);
}
}
&.btn-supply{
&:not(:disabled){
font-size:$fs-320;
border-radius:$_radius*2;
background-color:hsl($supply);
@include easeOut-fast;
&:is(:active, :hover) {
  background-color:hsl($supply-hover) ;
  box-shadow:0 0 0 0.2rem hsl($bkg),
    0 0 0 0.3em hsl($supply-hover)
    ;
}
&:is(:active){
transform: translateY(0.2em);  
}
}
&:disabled{
font-size:$fs-300;
border-radius:$_radius*2;
background-color:$supply-disabled;
color: #222;
cursor: auto;
}
}
}

