
.error{
margin-inline: auto;
padding-block:2em;
width: max(40em,70vw);
display: grid;
justify-items: center;
gap:2em;
& > .error-btn-container{
display: grid;
grid-auto-flow: column;
gap:2em;
}
}
.error-text{
padding:0.3em;
background-color:hsl($warning);
color:$white;
border:2px solid $white;
}
